<div class="code-block position-relative">
  <button type="button" class="btn btn-sm btn-outline-secondary btn-copy position-absolute top-0 end-0 m-2" aria-label="Copy code to clipboard">
    Copy
  </button>
  <pre><code class="language-{{language}}">{{code}}</code></pre>
</div>
