<header class="site-header">
  <div class="container">
    <a href="/" class="site-brand">
      <h1 class="site-title">{{siteTitle}}</h1>
      <p class="site-tagline">{{siteTagline}}</p>
    </a>
  </div>
</header>
